<div class="banner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
        <h3>Activity Feed</h3>
        <% @activitys.each do |activity| %>
            <div class="card mb-3">
                <div class="card-header">
                   <h4> <%= link_to activity.title, activity_path(activity) %> </h4>
                </div>
                <div class="card-body">
                <p class="card-text"><%= activity.description %></p>
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.distance %> Km</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Distance</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.duration %> Min</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Duration</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.exertion %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Exertion</h6>
                    </div>    
                </div>
                    <hr>   
                    <%= link_to "Read more", activity_path(activity), :class => 'btn btn-info float-md-right' %>
                </div>
            </div>    
        <% end %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>