<div class="banner">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="text-center">
                    <%= image_tag('favicon.jpg', :alt => "pic", :class => 'img-avatar') %>
                </div>
                <hr>
                <div class="card-body text-center">
                <% if current_user.firstname and current_user.lastname %>
                    <h4><strong><%= current_user.firstname%> <%= current_user.lastname%></strong></h4>
                <% else %>
                    <h4><%= current_user.email %></h4>
                <% end %>
                <hr>
                <div class="row">
                    <div class="col text-center">
                        <h5 class="card-title"> <%= @activitys.count %> </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Activities</h6>
                    </div>
                </div>
                </div>
                <% if current_user.bio %>
                <hr>
                <div class="pl-3">
                <h6><strong>About Me</strong></h6>
                <p><%= current_user.bio %></p>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
        <h3><strong>Activity Feed</strong></h3>
        <% if @activitys.count == 0 %>
            <p class="text-danger">No activity found!</p>
        <% end %>
        <% @activitys.each do |activity| %>
            <div class="card mb-3">
                <div class="card-header">
                   <h4> <%= link_to activity.title, activity_path(activity) %> </h4>
                </div>
                <div class="card-body">
                <p class="card-text"><%= activity.description %></p>
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.distance %> Km</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Distance</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.duration %> Min</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Duration</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= activity.exertion %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Exertion</h6>
                    </div>    
                </div>
                    <hr>   
                    <%= link_to "Read more", activity_path(activity), :class => 'btn btn-info float-md-right' %>
                </div>
            </div>    
        <% end %>
        </div>
        
    </div>
</div>