<div class="container">
<div class="banner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <h3>Add a new Activity </h3>
        <hr>
        <%= form_for :activity, url: activitys_path do |form| %>
            <%= render 'layouts/alerts'%>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <%= form.label :name %><br>
                    <%= form.select( :name, ['Running','Walking','Cycling','Swimming','Hiking',
                                            'Rowing','Elliptical','Skating','Mountain Biking','Core Strength'], 
                        {include_blank: "Select activity name"}, 
                        {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-6">
                    <%= form.label :title %><br>
                    <%= form.text_field :title, placeholder: "Morning Run", :maxlength => 50, :class => 'form-control' %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-2">
                    <%= form.label :description %><br>
                    <%= form.text_area :description, placeholder: "How did it go? Were you tired? How was the weather?", :maxlength => 150, :class => 'form-control' %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <%= form.label :distance_in_Kilometers %><br>
                    <%= form.number_field :distance, in: 1..10000,  :class => 'form-control' %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :elevation_in_meters %><br>
                    <%= form.number_field :elevation, in: 1..10000, :class => 'form-control' %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :perceived_exertion %><br>
                    <%= form.select(:exertion, ['Easy', 'Moderate', 'Difficult'], {include_blank: "How did it feel?"}, {:class => 'form-control'}) %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <%= form.label :duration_in_minutes %><br>
                    <%= form.number_field :duration, in: 1..10000, :class => 'form-control' %>
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <%= form.label :date %><br>
                    <%= form.date_field :date, max: Date.today, :class => 'form-control' %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :start_time %><br>
                    <%= form.time_field :time, :class => 'form-control' %>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3">
                <%= form.submit({:class => 'btn btn-success'})%>
                </div>
            </div>
        <% end %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
<%= render 'layouts/footer'%>