<h1>Add a new Activity </h1>
<div class="banner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <%= form_for :activity, url: activitys_path do |form| %>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <%= form.label :name %><br>
                    <%= form.select( :name, ['Running','Walking','Cycling','Swimming','Hiking',
                                            'Rowing','Elliptical','Skating','Mountain Biking','Core Strength'], 
                        {include_blank: "Select activity name"}, 
                        {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-6">
                    <%= form.label :title %><br>
                    <%= form.text_field(:title, {:class => 'form-control'}) %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <%= form.label :description %><br>
                    <%= form.text_area(:description, {:class => 'form-control'}) %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <%= form.label :distance %><br>
                    <%= form.text_field(:distance, {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :duration %><br>
                    <%= form.text_field(:duration, {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :elevation %><br>
                    <%= form.text_field(:elevation, {:class => 'form-control'}) %>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <%= form.label :exertion %><br>
                    <%= form.text_field(:exertion, {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :date %><br>
                    <%= form.text_field(:date, {:class => 'form-control'}) %>
                </div>
                <div class="col-sm-12 col-md-4">
                    <%= form.label :time %><br>
                    <%= form.text_field(:time, {:class => 'form-control'}) %>
                </div>
            </div>
        <% end %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
