<div class="container">
<div class="banner">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
        <h3>Activity</h3>
            <div class="card">
            <div class="card-header">
               <h4> <%= @activity.title %> - <%= @activity.name%> </h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.distance %> Km</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Distance</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.duration %> Min</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Duration</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.elevation %> M</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Elevation</h6>
                    </div>    
                </div>

                <hr>

                <h5 class="card-title">Description:</h5>
                <p class="card-text"><%= @activity.description %></p>
                
                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.exertion %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Exertion</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.date %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="card-title"><%= @activity.time %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Start Time</h6>
                    </div>    
                </div>
                    <hr>
                <div class="row">
                    <div class="col-sm-6" style="text-align:center">
                        <%= link_to "Edit Activity", edit_activity_path(@activity), :class => 'btn btn-warning' %>
                    </div>
                    <div class="col-sm-6" style="text-align:center">
                        <%= link_to "Delete Activity", activity_path(@activity), method: :delete, data:{confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
                    </div>
                </div>
            </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>